# Snakemake internals
.snakemake*
__pycache__

~$*
**/.vscode/

archive/*
benchmarks/*
cutouts/*
docs/build/*
data/archive/*
data/bundle/*
data/weather/*
envs/archive/*
logs/*
networks/*
notebooks/archive/*
notebooks/private/*
pre_processing/archive/*
pre_processing/resource_processing/archive/*
pre_processing/resource_processing/private/*
pre_processing/resource_processing/availability/*
pre_processing/resource_processing/timeseries_data/*
resources/*
results/*
scenarios/archive/*
scenarios/private/*
scripts/archive/*
scripts/private/*










